
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Audiowide", sans-serif;
}

body{
    background: #e1eaec;
}

nav{
    width: 100%;
    height: 75px;
    line-height: 40px;
    padding: 0px 100px;
    position: fixed;
    background-image: linear-gradient(#1a7ab5, #ddd8ed);
}

/* styling navbars*/

nav ul{
    float: right;
}
nav li{
    display: inline-block;
    list-style: none;
}

nav li a{
    font-size: 18px;
    padding: 0px 30px;
    color:rgb(0, 0, 0);
}

nav li a:hover{
    color: rgb(105, 154, 213);
}

/* text and image gap */

.image-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px; 
}

/*image ratio*/
.image-text img {
    width: 300px; 
    height: 300px; 
}

.image-text .text {
    flex: 1;
}

/*gap between each image and text*/
.para {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px; 
    width: 100%;
    max-width: 800px; 
    margin: 0 auto; 
}